*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.main{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 500px;
}
.main p{
    margin: 30px 0;
    font-size: 1.2rem;
}

.main button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.main button:hover{
    background-color: rgb(4, 165, 4);
}