*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.main{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main h1{
    text-align: center;
    margin-bottom: 20px;
}

.password-div{
    display: flex;
    padding: 15px 10px;
    width: 100%;
    background-color: aliceblue;
    justify-content: space-between;
    border-radius: 5px;
}

.password-div #input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    color: grey;
    font-size: 1.5rem;
}

.password-div i{
    color: grey;
    cursor: pointer;
    order: 2;
    font-size: 1.5rem;
}

.password-div i:hover{
    color: black;
}

#btn{
    padding: 13px 5px;
    width: 150px;
    margin-top: 20px;
    border-radius: 7px;
    background: black;
    color: white;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    border: none;
}

#btn:hover{
    background: grey;
}

.copy-alert{
display: none;
color: green;
}