*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.main{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 500px;
}
.main h1{
    text-align: center;
}

.main div{
    display: flex;
    gap: 10px;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
}

.main div input{
    width: 250px;
    padding: 10px 0;
}

.main div .options{
    padding: 10px;
}

.result{
    font-size: 1.2rem;
    margin-top: 7px;
}

.main button{
    width: 100px;
    padding: 7px 0;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}